<!DOCTYPE html>
    <head>
        <meta charset ="utf-8" />
        <meta name = "author" content = "Martina Pauer" />
        <meta name = "keyword" content = "3,d,delivery,app,impresora,web,pauer,martina" />
        <title>3Delivery App</title>
        <link rel = "stylesheet" href = "https://rawcdn.githack.com/martina-pauer/grouper/refs/heads/main/3Delivery/static/style.css" />
        <script type = "text/javascript" src = "https://rawcdn.githack.com/martina-pauer/grouper/609b37d15d9987dff88b65672da19a1415b858d3/3Delivery/canvasMap.js"></script>
    </head>
    <body>
        <form id = "delivery-form" name = "delivery-form" action = "delivery" method = "POST">
            <aside id = "two-sides">
                <section id = "left-side" name = "left-side">
                    <!-- Data Entry Side -->
                    <select id = "model" name = "model">
                        <option>Block 1x1</option>
                        <option>Block 1x2</option>
                        <option>Block 2x2</option>
                        <option>Block 2x3</option>
                        <option>Tablet 6x8</option>
                    </select><br />
                    <input id = "copies" name = "copies" type = "number" min = "1" max = "10" /><label>copias</label><br /> 
                    <select id = "material" name = "material">
                        <option>PETG</option>
                        <option>PLA</option>
                        <option>TPU</option>
                        <option>PVA</option>
                    </select><br />
                    <input id = "address" name = "address" placeholder = "Street, City, Country" />
                    <input id = "ticket-CODE" name = "ticket-CODE" type = "submit" value = "ticket" />
                </section>
            </aside>
        </form>
    </body>    
</html>
