<!DOCTYPE html>
    <head>
        <meta charset ="utf-8" />
        <meta name = "author" content = "Martina Pauer" />
        <meta name = "keyword" content = "3,d,delivery,app,impresora,web,pauer,martina" />
        <title>3Delivery App</title>
        <link rel = "stylesheet" href = "https://rawcdn.githack.com/martina-pauer/grouper/refs/heads/main/3Delivery/static/style.css" />
        <script type = "text/javascript" src = "https://rawcdn.githack.com/martina-pauer/grouper/bf17ea3a6e6b014305388d01db49920b50f59a97/3Delivery/canvasMap.js"></script>
    </head>
    <body>
        <form id = "delivery-form" name = "delivery-form" action = "delivery" method = "POST">
            <aside id = "two-sides">
                <section id = "left-side" name = "left-side">
                    <!-- Data Entry Side -->
                    <input id = "model" name = "model" type = "file" onchange = "javascript:saveContent('model');"/><br />
                    <input id = "copies" name = "copies" type = "number" min = "1" max = "10" /><label>copias</label><br /> 
                    <select id = "material" name = "material">
                        <option>PETG</option>
                        <option>PLA</option>
                        <option>TPU</option>
                        <option>PVA</option>
                    </select><br />
                    <input id = "ticket-CODE" name = "ticket-CODE" type = "submit" value = "ticket" />
                </section>
                <section id = "right-side" name = "right-side">
                    <!-- Map Side -->
                     <canvas id = "map" onclick = "javascript:plotMap('map', -387175, -622655);"></canvas>
                </section>
            </aside>
        </form>
    </body>    
</html>
